<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin yang diperlukan untuk aplikasi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/desain_tanpa_judul_removebg_preview"
        android:label="@string/app_name"
        android:roundIcon="@drawable/desain_tanpa_judul_removebg_preview"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_MAP"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".WaterControl"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_water_control"-->
<!--            android:theme="@style/Theme.UTS_MAP" />-->
        <!-- Aktivitas utama aplikasi -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".YearlyReport"
            android:exported="false"
            android:label="@string/title_activity_yearly_report"
            android:theme="@style/Theme.UTS_MAP" />
        <activity
            android:name=".WeeklyReport"
            android:exported="false"
            android:label="@string/title_activity_weekly_report" />
        <activity
            android:name=".SplashScreen1"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />

        <!-- Meta-data untuk Firebase -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <!-- Daftarkan BroadcastReceiver untuk notifikasi -->
        <receiver
            android:name=".PushNotificationReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".DayGoalReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.uts_map.DAILY_GOAL_ACHIEVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AlarmStopReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>
